.input {
    outline: none;
    border: none;
    border: 1px solid #ddd;
    padding: 5px;
    &--radius {
        border-radius: 10px;
    }
}

.form__input--password > input {
    width:calc(100% - 30px);
    border: none;
    height: 100%;
  }
  
  .password__eye-icon {
    font-size: 1.52rem;
    line-height: 2.5rem;
    cursor: pointer;
    svg{
      width: 24px;
      height: 24px;
      fill: #9b9b9b;
      vertical-align: middle;
    }
  }