.main-footer {
  // min-height: 75vh;
  position: relative;
  background: url('./../images/main/footer bg.png') no-repeat right top;
  background-size: cover;
  @include breakpoint(large){
    padding-top: 300px;
    margin-top: -100px;
  }
  .nav-bar__menu{
    @include breakpoint(isCommon){
      flex-wrap: wrap;
    }
  }
}

.main-footer__top {
  // background: $footer-bg;
  // padding: $footer-padding;
  // position: absolute;
  // bottom: 0;
  // left: 0;
  // right: 0;
  .nav-bar__menu--top{
    @include breakpoint(isMobile){
      flex-wrap: wrap;
    }
  }
  .nav-bar__menu-link{
    @include breakpoint(isMobile){
      padding: 0;
    }
  }
}
.main-footer__bottom {
  background: $footer-bottom-bg;
}
.main-footer__container {
  display: flex;
  justify-content: space-between;
  // align-items: center;
}

// body {
//   position: relative;
//   padding-bottom: 60vh;
// }

// .main-footer--bg {
//   position: absolute;
//   bottom: 0;
//   right: 0;
//   left: 0;
//   z-index: -1;
//   width: 100%;
//   //   background-image: url('./../images/main/footer bg.png');
//   //   background-repeat: no-repeat;
//   //   background-size: contain;
//   //   background-size: 100% 100%;
// }

.home-info-but--end {
  display: flex;
  justify-content: flex-end;
  @include breakpoint(isMobile) {
    justify-content: center;
  }
}

.main-footer__bottom {
  .main-footer__bottom--QN {
    font-size: 12px;
    color: #939393;
    opacity: 1;
    background-color: #9393931a;
    @include breakpoint(isMobile) {
      text-align: center;
      display: none;
    }
  }
}

.main-footer__row {
  margin-top: 65px;
}

.main-footer {
  .home-info-title {
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: $color-primary;
    padding-top: 90px;
    opacity: 1;
    @include breakpoint(isMobile) {
      font-size: 25px;
      padding-top: 30px;
      opacity: 1;
    }
  }
  .home-info-desc {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: #939393;
    opacity: 1;
    @include breakpoint(isMobile) {
      font-size: 14px;
      opacity: 1;
    }
  }
}

// .main-footer__links {
//     margin-bottom: 0;
//     padding: 0;
//     list-style: none;
//     >.col {
//         @include breakpoint(isMobile) {
//             margin-bottom: 30px;
//         }
//     }
// }
// .main-footer__link {
//     display: block;
//     font-size: 12px;
//     white-space: pre;
//     -webkit-transition: all 0.2s ease-in-out;
//     transition: all 0.2s ease-in-out;
//     color: #25A2B9;
//     border-bottom: 1px solid;
//     margin-left: 35px;
//     @include transition();

//     + .main-footer__link {
//         margin-top: 10px;
//     }

//     + .typo-body1 {
//         margin-top: 15px;
//     }

//     &:hover {
//         text-decoration: none;
//         color: $color-secondary;
//     }
// }
