.socials-bar{
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    margin-right: #{-$icons-padding};
    margin-left: #{-$icons-padding};
    @include breakpoint(isMobile){
        justify-content: center;
     }
}

.socials-bar__item{
    +.socials-bar__item{
        @supports (margin-inline-start: 10px) {
            margin-inline-start: $icons-padding;
        }
        @supports not (margin-inline-start: 10px) {
            margin-#{$left}: $icons-padding;
        }
    }
}
