// <div class="l-row l-row--eq l-row--eq-3">
//                         <div class="l-col"></div>



.l-row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.l-col{
    margin-bottom: $grid-gutter-width;
}
.l-row--eq{
    justify-content: space-between;
}
.l-row--eq-1{
    .l-col{
        flex: 0 0 calc(100% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-2{
    .l-col{
        flex: 0 0 calc(100% - #{$grid-gutter-width}/2);
        width: calc(100% - #{$grid-gutter-width}/2);
        @include breakpoint(mid){
            flex: 0 0 calc(50% - #{$grid-gutter-width}/2);
            width: calc(100% - #{$grid-gutter-width}/2);    
        }
    }
}
.l-row--eq-3{
    .l-col{
        flex: 0 0 calc(100% - #{$grid-gutter-width}/2);
        width: calc(33.3333% - 20px/2);
        @include breakpoint(mid){
            flex: 0 0 calc(33.3333% - #{$grid-gutter-width}/2);
            width: calc(33.3333% - 20px/2);
        }
    }
}
.l-row--eq-4{
    .l-col{
        flex: 0 0 calc(25% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-5{
    .l-col{
        flex: 0 0 calc(20% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-6{
    .l-col{
        flex: 0 0 calc(16.6666% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-7{
    .l-col{
        flex: 0 0 calc(14.2% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-8{
    .l-col{
        flex: 0 0 calc(12.5% - #{$grid-gutter-width}/2);
    }
}
.l-row--eq-9{
    .l-col{
        flex: 0 0 calc(11.111% - #{$grid-gutter-width}/2);
    }
}

.l-m-b-20 {
    margin-bottom: 20px;
}

.l-h-100vh {
    min-height: 100vh;
}

// flex classes

.l-f {
    display: flex; 
}

.l-f-around {
    justify-content: space-around;
}

.l-f-around {
    justify-content: space-around;
}

.l-f-column {
    flex-direction: column;
}

.l-f-row {
    flex-direction: row;
}

.l-f-align-center {
    align-items: center
}

.l-f-justify-center {
    justify-content: center;
}
.main-content{
    position: relative;
    z-index: 10;
}