$lang : ar;
$txt-direction : right;

$left: right;
$right: left;

$dirInv : ltr;
$dir :rtl ;

$ltr: rtl;
$rtl: ltr;
 
$arrow-dir:"\f104";
$arrow-dir-Inv:"\f105"; 
$arrow-dir-menu:"\f0d9";

$fontname           : cairo-regular-webfont;
$font-family        : 'Tajawal', sans-serif;
$font-secondary		: 'Noto Sans', sans-serif;