$lang : en;
$txt-direction : left;

$left: left;
$right: right;

$dirInv : rtl;
$dir : ltr;

$ltr: ltr;
$rtl: rtl;

$font-family        : 'Lato', sans-serif !default;
$font-secondary		: 'Noto Sans', sans-serif;

